# 系统文件和目录
AppData/
.anaconda/
.conda/
.cursor/
.cursor-vip/
.vscode/
.docker/
.jupyter/
.ipython/
.matplotlib/
.ollama/
.ipynb_checkpoints/
.trae-aicc/
.trae-cn/
.dbclient/
.gitconfig
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
OneDrive/
Contacts/
Saved Games/
Searches/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
Zotero/
CursorLogin/
ai_completion/
*.ipynb
*.png
Untitled*
